.columns-menu-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  background-color: #fff;
  padding: 30px;
  margin: 0;

  .column-menu {
    border: 3px solid transparent;
    text-align: center;
    padding: 20px 3px;
    margin: -30px 0;

    &:hover {
      border-bottom: 1px solid blue;
    }
  }
}

.category-container {
  background: #fff;
  margin: 20px 0;
  padding: 0 20px;

  .category-link {
    border: 1px solid lightgrey;
    display: block;
    text-align: center;
    padding-bottom: 30px;
    color: #000000;

    &:hover {
      border-color: map-get($ucx-colors, blue);
    }
  }
}
