$baseFont: 'Titillium Web', sans-serif;
$titleFont: 'Raleway', sans-serif;

$body-family: $baseFont;

$section-padding: 0;

$ucx-colors: (
        blue:#0651a4,
        green:#40be65,
        border-color: rgb(47, 51, 54),
        black:#14171A,
        dark:#0b0c10,
        dark-gray:#1f2833,
        light-gray:#bababc,
        extra-light-gray:#E1E8ED,
        super-extra-light-gray:#F5F8FA,
        red-orange:#ff2600,
        deep-orange: #FF5A09,
        light-orange: #ec7f37,
        orange-yellow: #be4f0c,
        red:#e0474c
);

/*
    Asset paths
 */
$assets: (
        images: '../img/'
) !default;
