<div class="side-menu">
    <aside class="menu edit-profile-menu">
        <p class="menu-label">Account information</p>
        <ul class="menu-list">
            <li>
                <a href="edit-profile.html">Profile information</a>
                <ul>
                    <li>
                        <a href="edit-account.html">Change account settings</a>
                        <ul>
                            <li><a href="edit-account.html">Change email</a></li>
                            <li><a href="change-password.html">Change password</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="order-history.html">Order History</a></li>
        </ul>
    </aside>
</div>