{% extends 'layout/_min.html' %}

{% block content %}
{% include 'components/general/header.html' %}

<div class="add-new-product-container">
    <div class="add-new-product-wrapper">

        <div class="title">
            <h2>Add new product</h2>
        </div>
        <div class="columns">
            <div class="column is-two-fifths">
                <div class="product-view-panel">
                    <form action="">
                        <img src="assets/img/mortal-kombat.jpg" alt="">
                        <div class="file is-black   ">
                            <label class="file-label">
                                <input class="file-input" type="file" name="resume">
                                <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Choose a photo…
                                </span>
                            </span>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="column">
                <div class="product-info-panel">

                    <form action="">
                        <div class="columns">
                            <div class="column">
                                <label class="label">Name</label>
                                <input type="text" class="input" value="">
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column">
                                <label class="label">Unit Price</label>
                                <input type="number" class="input" value="">
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column">
                                <label class="label">In Stock</label>
                                <input type="number" class="input" value="">
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column">
                                <label class="label">Platform</label>
                                <div class="select">
                                    <select>
                                        <option>XBOX</option>
                                        <option>Play Station</option>
                                        <option value="others">Others</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column">
                                <label class="label">Publisher</label>
                                <div class="select">
                                    <select>
                                        <option>Select</option>
                                        <option>With options</option>
                                        <option>Others</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                <div class="field is-grouped is-grouped-right">
                    <button class="button is-primary save-button">Save</button>
                    <button class="button">Cancel</button>
                </div>
                    </form>

                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}
