{% extends 'layout/_base.html' %}

{% block content %}
<div class="column">
    <div>
        <h1><strong>Your Shopping Cart</strong></h1>
        <div class="step-buttons">
            <a href="cart-preview.html" class="button is-info is-rounded">1</a>
            <a href="checkout.html" class="button is-info is-rounded">2</a>
            <a class="button is-info is-rounded">3</a>
            <a class="button is-info is-rounded">4</a>
        </div>
    </div>

    <hr>
    <br>
    <div class="container">
        <div class="notification">
            <!--        This container is <strong>centered </strong> on desktop-->
            <div class="columns">
                <div class="column cart-items is-11">
                    <div class="columns is-vcentered">
                        <div class="column is-2">
                            <div class="product-img">
                                <img src="assets/img/mortal-kombat.jpg" class="img-mk" alt="">
                            </div>
                        </div>
                        <div class="column is-3 product-info">
                            <h3><strong>Title </strong></h3>
                            <p>Product brand</p>
                        </div>
                        <div class="column is-2 product-detail">
                            <h2><strong>Detail</strong></h2>
                        </div>
                        <div class="column is-3 product-quantity">
                            <br>
                            <h2><strong>2</strong></h2>
                            <div class="buttons">
                                <span class="button is-small qty"><strong>+</strong></span>
                                <span class="button is-small qty"><strong>-</strong></span>
                            </div>
                        </div>
                        <div class="column is-2 product-price">
                            <h3><strong>Price </strong></h3>
                        </div>
                    </div>
                </div>
                <div class="column is-1 cancels">
                    <div class="cancel-item">
                        <a class="delete is-large is-center"></a>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column cart-items is-11">
                    <div class="columns is-vcentered">
                        <div class="column is-2">
                            <div class="product-img">
                                <img src="assets/img/scorpion.jpg" class="img-mk" alt="">
                            </div>
                        </div>
                        <div class="column is-3 product-info">
                            <h3><strong>Title</strong></h3>
                            <p>Product brand</p>
                        </div>
                        <div class="column is-2 product-detail">
                            <h2><strong>Detail</strong></h2>
                        </div>
                        <div class="column is-3 product-quantity">
                            <br>
                            <h2><strong>2</strong></h2>
                            <div class="buttons">
                                <span class="button is-small qty"><strong>+</strong></span>
                                <span class="button is-small qty"><strong>-</strong></span>
                            </div>
                        </div>
                        <div class="column is-2 product-price">
                            <h3><strong>Price</strong></h3>
                        </div>
                    </div>
                </div>
                <div class="column is-1 cancels">
                    <div class="cancel-item">
                        <a class="delete is-large is-center"></a>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column cart-items is-11">
                    <div class="columns is-vcentered">
                        <div class="column is-2">
                            <div class="product-img">
                                <img src="assets/img/item-04.jpg" class="img-mk" alt="">
                            </div>
                        </div>
                        <div class="column is-3 product-info">
                            <h3><strong>Title</strong></h3>
                            <p>Product brand</p>
                        </div>
                        <div class="column is-2 product-detail">
                            <h2><strong>Detail</strong></h2>
                        </div>
                        <div class="column is-3 product-quantity">
                            <br>
                            <h2><strong>2</strong></h2>
                            <div class="buttons">
                                <span class="button is-small qty"><strong>+</strong></span>
                                <span class="button is-small qty"><strong>-</strong></span>
                            </div>
                        </div>
                        <div class="column is-2 product-price">
                            <h3><strong>Price</strong></h3>
                        </div>
                    </div>
                </div>
                <div class="column is-1 cancels">
                    <div class="cancel-item">
                        <a class="delete is-large is-center"></a>
                    </div>
                </div>
            </div>

            <!--            -->
            <div class="columns cart-items-footer">
                <div class="column is-4 left-link">
                    <a href="login.html">
                        <span><i class="fas fa-arrow-left"></i></span>
                        Continue Shopping
                    </a>
                </div>
                <div class="column is-4 subtotal">
                    <h2>Subtotal: XXXXXX.XX</h2>
                </div>
                <div class="column is-4 right-link">
                    <a href="checkout.html">Proceed to Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
