{% extends 'layout/_base.html' %}

{% block content %}
<div class="column">
    <div>
        <h1 class="title-color">Your Shopping Cart</h1>
    </div>
    <hr>
    <br>
    <div class="container main-container">
        <div class="notification">
            <!--        This container is <strong>centered </strong> on desktop-->
            <div class="columns is-mobile">
                <div class="column cart-items is-11">
                    <div class="columns is-vcentered">
                        <div class="column is-2">
                            <div class="product-img">
                                <img src="assets/img/logo.png" alt="">
                            </div>
                        </div>
                        <div class="column is-3 product-info">
                            <h3><strong>Title </strong></h3>
                            <p>Product brand</p>
                        </div>
                        <div class="column is-2 product-info">
                            <h2><strong>Title </strong></h2>
                        </div>
                        <div class="column is-3">
                            <br>
                            <h2><strong>2</strong></h2>
                            <div class="buttons">
                                <span class="button is-small qty"><strong>+</strong></span>
                                <span class="button is-small qty"><strong>-</strong></span>
                            </div>
                        </div>
                        <div class="column is-2 product-info">
                            <h3><strong>Price </strong></h3>
                        </div>
                    </div>
                </div>
                <div class="column is-1 cancels">
                    <div class="cancel-item">
                        <a class="delete is-large is-center"></a>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column cart-items is-11">
                    <div class="columns is-vcentered">
                        <div class="column is-2 product-info">
                            <div class="product-img">
                                <img class="is-rounded" src="assets/img/logo.png" alt="">
                            </div>
                        </div>
                        <div class="column is-3 product-info">
                            <h3><strong>Title </strong></h3>
                            <p>Product brand</p>
                        </div>
                        <div class="column is-2 product-info">
                            <h2><strong>Title </strong></h2>
                        </div>
                        <div class="column is-3">
                            <br>
                            <h2><strong>2</strong></h2>
                            <div class="buttons">
                                <span class="button is-small qty"><strong>+</strong></span>
                                <span class="button is-small qty"><strong>-</strong></span>
                            </div>
                        </div>
                        <div class="column is-2 product-info">
                            <h3><strong>Price </strong></h3>
                        </div>
                    </div>
                </div>
                <div class="column is-1 cancels">
                    <div class="cancel-item">
                        <a class="delete is-large is-center"></a>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column cart-items is-11">
                    <div class="columns is-vcentered">
                        <div class="column is-2 product-info">
                            <div class="product-img">
                                <img src="assets/img/logo.png" alt="">
                            </div>
                        </div>
                        <div class="column is-3 product-info ">
                            <h3><strong>Title </strong></h3>
                            <p>Product brand</p>
                        </div>
                        <div class="column is-2 product-info">
                            <h2><strong>Title </strong></h2>
                        </div>
                        <div class="column is-3">
                            <br>
                            <h2><strong>2</strong></h2>
                            <div class="buttons">
                                <span class="button is-small qty"><strong>+</strong></span>
                                <span class="button is-small qty"><strong>-</strong></span>
                            </div>
                        </div>
                        <div class="column is-2 product-info">
                            <h3><strong>Price </strong></h3>
                        </div>
                    </div>
                </div>
                <div class="column is-1 cancels">
                    <div class="cancel-item">
                        <a class="delete is-large is-center"></a>
                    </div>
                </div>
            </div>

            <!--       buttons     -->
            <div class="columns cart-items-footer">
                <div class="column is-4 left-link">
                    <a href="login.html">
                        <span><i class="fas fa-arrow-left"></i></span>
                        Continue Shopping
                    </a>
                </div>
                <div class="column is-4 subtotal">
                    <h2>Subtotal: XXXXXX.XX</h2>
                </div>
                <div class="column is-4 right-link">
                    <a href="checkout.html">Proceed to Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
