{% extends 'layout/_base.html' %}

{% block bodyCSS %} grey-background {% endblock %}

{% block content %}
{% include 'components/general/header.html' %}

<div class="columns columns-menu-wrap">
    <div class="column column-menu is-1">Category</div>
    <div class="column column-menu is-1">Brands</div>
</div>

<div class="category-container">
    <div class="columns is-mobile">
        <div class="column is-6-mobile">
            <a href="products.html" class="category-link">
                <span class="category-icon">
                    <img src="assets/img/smartphone-svg.jpg" alt="">
                </span>
                <span class="category-title">Phones</span>
            </a>
        </div>
        <div class="column is-6-mobile">
            <a href="products.html" class="category-link">
                <span class="category-icon">
                    <img src="assets/img/tablet-svg.jpg" alt="">
                </span>
                <span class="category-title">Tablets</span>
            </a>
        </div>
        <div class="column is-6-mobile">
            <a href="products.html" class="category-link">
                <span class="category-icon">
                    <img src="assets/img/laptop-svg.jpg" alt="">
                </span>
                <span class="category-title">Laptops</span>
            </a>
        </div>
        <div class="column is-6-mobile">
            <a href="products.html" class="category-link">
                <span class="category-icon">
                    <img src="assets/img/desktop-svg.jpg" alt="">
                </span>
                <span class="category-title">Desktop</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
