{% extends 'layout/_base.html' %}

{% block content %}


<div class="columns columns-menu-wrap">
    <div class="column column-menu is-1">Category</div>
    <div class="column column-menu is-1">Brands</div>
</div>
<hr>
<div class="columns-wrap">
    <a href="products.html" style="text-decoration: none; color: black;"><div class="column-inner is-one-quarter">
        <div class="category-img-container">
            <img src="assets/img/logo.png" alt="foto">
        </div>
        <div class="category-name-container">Phones</div>
    </div></a>
    <a href="products.html" style="text-decoration: none; color: black;" ><div class="column-inner is-one-quarter">
        <div class="category-img-container">
            <img src="assets/img/logo.png" alt="foto">
        </div>
        <div class="category-name-container" >Phones</div>
    </div></a>
    <a href="products.html" style="text-decoration: none; color: black;"><div class="column-inner is-one-quarter">
        <div class="category-img-container">
            <img src="assets/img/logo.png" alt="foto">
        </div>
        <div class="category-name-container">Phones</div>
    </div>
    <a href="products.html" style="text-decoration: none; color: black;"><div class="column-inner is-one-quarter">

        <div class="category-img-container">
            <img src="assets/img/logo.png" alt="foto">
        </div>
        <div class="category-name-container">Phones</div>
    </div></a>
</div>


<!--<div class="columns is-spaced">-->
<!--    <div class="column is-one-quarter is-4">-->
<!--        <div class="category-img-container">-->
<!--            <img src="assets/img/logo.png" alt="foto">-->
<!--        </div>-->
<!--        <div class="category-name-container">Phones</div>-->
<!--    </div>-->
<!--    <div class="column is-one-quarter is-4">-->
<!--        <div class="category-img-container">-->
<!--            <img src="assets/img/logo.png" alt="foto">-->
<!--        </div>-->
<!--        <div class="category-name-container" >Phones</div>-->
<!--    </div>-->
<!--    <div class="column is-one-quarter is-4">-->
<!--        <div class="category-img-container">-->
<!--            <img src="assets/img/logo.png" alt="foto">-->
<!--        </div>-->
<!--        <div class="category-name-container">Phones</div>-->
<!--    </div>-->
<!--    <div class="column is-one-quarter">-->

<!--        <div class="category-img-container is-4">-->
<!--            <img src="assets/img/logo.png" alt="foto">-->
<!--        </div>-->
<!--        <div class="category-name-container">Phones</div>-->
<!--    </div>-->
<!--</div>-->


{% endblock %}
