{% extends 'layout/_base.html' %}

{% block content %}
<div class="container">
    <div class="checkout-steps">
        <div class="step-buttons no-hover">
            <a href="cart-preview.html" class="button is-rounded is-hovered">1</a>
            <a href="checkout.html" class="button is-rounded is-hovered">2</a>
            <a href="#" class="button is-rounded is-hovered ">3</a>
            <a href="#" class="button is-rounded is-hovered">4</a>
        </div>
    </div>
    <div class="sub-info">
        <div class="columns is-mobile">
            <div class="column is-6-desktop is-6-mobile ">
                <h1>CHECKOUT</h1>
            </div>
            <div class="column is-6-desktop is-6-mobile has-text-right">
                <h1>Order-42319</h1>
            </div>
        </div>
    </div>

    <!--  Profile and info      -->
    <div class="main-container">
        <div class="columns is-mobile is-multiline">
            <div class="column is-6-desktop is-12-mobile profile">
                <div class="profile-info">
                        <img src="assets/img/scorpion.jpg" alt="profile-img" class="is-rounded">
                    <h3>Checkout as</h3>
                    <h3>Andi Hoxha</h3>
                    <a href="#">Switch account?</a>
                </div>
            </div>
            <!--  Personal info   -->
            <div class="column is-6-desktop is-12-mobile profile-additional-info">
                <div class="profile-inputs">
                    <div class="control">
                        <label class="checkout-label">First Name</label>
                        <input type="text" class="input" placeholder value="First Name">
                    </div>
                    <div class="control">
                        <label class="checkout-label">Last Name</label>
                        <input type="text" class="input" placeholder value="Last Name">
                    </div>
                    <div class="control">
                        <label class="checkout-label">Email</label>
                        <input type="text" class="input" placeholder value="Email address">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  Back and Next buttons    -->
        <div class="columns back-next-buttons is-mobile">
            <div class="column is-6-desktop is-6-mobile left-button">
                <a href="products-list.html" class="button is-medium">Cancel</a>
            </div>
            <div class="column is-6-desktop is-6-mobile right-button">
                <a href="verification.html" class="button is-medium">Next</a>
            </div>
        </div>
</div>
{% endblock %}
