{% extends 'layout/_base.html' %}

{% block content %}
<div class="shop-wrapper">

    <div class="section">

        <div class="container">

            <div class="notification columns">

                <div class="column is-10 is-offset-1 checkout-wrapper is-tablet-landscape-padded">

                    <div class="checkout-title level">
                        <div class="chekout level-right">
                            <h1 class="title"><strong>Checkout</strong></h1>
                        </div>

                        <div class="level-left order-title">
                            <h1>
                                <stron>ORDER:XXXX</stron>
                            </h1>
                        </div>
                        <hr>
                        <br>
                    </div>

                    <div class="flat-card is-auto is-checkout-form">
                        <div class="columns is-gapless is-vcentered ">
                            <div class="column is-6 has-text-centered grey-column is-padded">
                                <div class="customer-wrapper">
                                    <img src="assets/img/logo.png" alt="">
                                    <h2>Customer name</h2>
                                    <div class="switch">
                                        <a href="#">Switch account?</a>
                                    </div>

                                </div>
                            </div>
                            <div class="column is-6 is-padded">
                                <div class="control">
                                    <label class="checkout-label">First Name</label>
                                    <input type="text" class="input" placeholder value="First Name">
                                </div>

                                <div class="control">
                                    <label class="checkout-label">Last Name</label>
                                    <input type="text" class="input" placeholder value="Last Name">
                                </div>

                                <div class="control">
                                    <label class="checkout-label">Email</label>
                                    <input type="text" class="input" placeholder value="Email address">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="button-wrapper has-text-right level">
                        <a href="#" class="button feather-button is-small primary-button upper-button-raised level-left">
                            <span>CANCEL</span>
                        </a>
                        <a href="#" class="button feather-button is-small primary-button upper-button-raised level-right">
                            <span>NEXT</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
