{% extends 'layout/_base.html' %}
{% block containerCSS  %} is-fluid {% endblock %}
{% block content %}
<div class="columns">
    <div class="column is-2">
        {% include 'components/profile/profile-side-menu.html' %}
    </div>
    <div class="column main-content">
        <p class="title is-2 static-titles">Profile Information</p>
        <hr>

        <!-- Personal Information starts here -->
        <p class="title is-4 static-titles">Account information</p>

        <fieldset disabled>
            <div class="columns">
                <div class="column">
                    <label class="label">Email</label>
                    <input type="email" class="input" value="fati.marmullaku@gmail.com">
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <label class="label">Password</label>
                    <input type="password" class="input" value="fati.marmullaku@gmail.com">
                </div>
            </div>
        </fieldset>

        <div class="columns">
            <div class="column change-account-settings">
                <a href="edit-account.html">
                    <button class="button is-danger">Change account settings</button>
                </a>
            </div>
        </div>

        <hr>

        <!-- Personal Information starts here -->
        <p class="title is-4 static-titles">Personal information</p>

        <form>
            <div class="columns">
                <div class="column">
                    <label class="label">First Name</label>
                    <input type="text" class="input" value="Fati">
                </div>

                <div class="column">
                    <label class="label">Last Name</label>
                    <input type="text" class="input" value="Marmullaku">
                </div>

            </div>

            <div class="columns">
                <div class="column">
                    <label class="label">Phone number</label>
                    <input type="text" class="input" value="+38344123123123">
                </div>
            </div>

            <hr>

            <!-- ADDRESSES START HERE -->
            <h3 class="title is-5 static-titles">Addresses</h3>

            <div class="columns">
                <div class="column">
                    <label class="label">Country</label>
                    <input type="text" class="input" value="Kosovo">
                </div>

                <div class="column">
                    <label class="label">City</label>
                    <input type="text" class="input" value="Prishtina">
                </div>

                <div class="column">
                    <label class="label">Zip code</label>
                    <input type="text" class="input" value="10000">
                </div>

                <div class="column">
                    <label class="label">Street</label>
                    <input type="text" class="input" value="Rr. Holger Petersen">
                </div>

                <div class="column is-1 cancel-button-block">
            <span class="cancel-button">
                <button class="delete button is-danger"></button>
                </span>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <label class="label">Country</label>
                    <input type="text" class="input" value="Kosovo">
                </div>

                <div class="column">
                    <label class="label">City</label>
                    <input type="text" class="input" value="Prishtina">
                </div>

                <div class="column">
                    <label class="label">Zip code</label>
                    <input type="text" class="input" value="10000">
                </div>

                <div class="column">
                    <label class="label">Street</label>
                    <input type="text" class="input" value="Rr. Holger Petersen">
                </div>

                <div class="column is-1 cancel-button-block">
            <span class="cancel-button">
                <button class="delete button is-danger"></button>
                </span>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <label class="label">Country</label>
                    <input type="text" class="input" value="Kosovo">
                </div>

                <div class="column">
                    <label class="label">City</label>
                    <input type="text" class="input" value="Prishtina">
                </div>

                <div class="column">
                    <label class="label">Zip code</label>
                    <input type="text" class="input" value="10000">
                </div>

                <div class="column">
                    <label class="label">Street</label>
                    <input type="text" class="input" value="Rr. Holger Petersen">
                </div>

                <div class="column is-1 cancel-button-block">
            <span class="cancel-button">
                <button class="delete button is-danger"></button>
                </span>
                </div>
            </div>
            <!-- ADDRESSES END HERE -->
            <!-- Personal Information ends here -->

            <hr>

            <div class="field is-grouped is-grouped-right">
                <button class="button is-primary save-button">Save</button>
                <button class="button">Cancel</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}
