{% extends 'layout/_min.html' %}

{% block bodyCSS %} page-unscrollable {% endblock %}

{% block content %}
<div class="columns is-gapless login-container" >
    <div class="column is-three-fifths is-hidden-mobile">
        {% include 'components/auth/login-intro.html' %}
    </div>
    <div class="column login-column" style="background-color: red">
        <div class="auth-content login-screen">
            <div class="auth-form-header">
                <img src="assets/img/ucx-white-logo.svg" alt="">
                <h4>Reset Password</h4>
                <span>Enter your username or email to reset your password</span>
            </div>

            <form>
                <div class="field">
                    <div class="control">
                        <input type="text" class="input auth-input" placeholder="Username or Email">
                    </div>
                </div>
                <div>
                    <button class="auth-button">Send</button>
                </div>
            </form>
                <div class="back-to-login">
                    <p class="paragraph"><a href="login.html"> Go back to Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
