{% extends 'layout/_base.html' %}

{% block content %}

<div class="columns">
    <div class="column is-2">
        {% include 'components/profile/profile-side-menu.html' %}
    </div>
    <div class="column main-content">
        <p class="title is-12 static-titles">Order History</p>

        <div class="container">
            <div class="order-history-screen">
                <!--        This container is <strong>centered </strong> on desktop-->
                <div class="columns history-items">
                    <div class="column is-12">
                        <div class="columns is-12 is-vcentered purchase-info-wrapper">
                            <div class="column is-4 purchase-info">
                                <h3>Purchase Date:</h3>
                                <p>XX/XX/XXXX</p>
                            </div>
                            <div class="column is-4 purchase-info">
                                <h3>Product Quantity:</h3>
                                <p>XX</p>
                            </div>
                            <div class="column is-4 purchase-info">
                                <h3>Paid:</h3>
                                <p>XX.XX$</p>
                            </div>
                        </div>
                        <div class="column media-wrapper">
                            <div class="media">
                                <div class="media-left image-left is-12-mobile">
                                    <img src="assets/img/mk11-cover.jfif">
                                </div>
                                <div class="media-content mobil">
                                    <div class="game-information">
                                        <h1 class="title is-3">Mortal Kombat 11</h1>
                                        <p>Platform:Play Station 4</p>
                                        <br>
                                        <p>Quantity: 1</p>
                                    </div>
                                    <br>
                                    <h1>Price: 59.99 $</h1>
                                    <div class="order-history-button-container">
                                        <button class="order-history-button">Go to product page</button>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left image-left is-12-mobile">
                                    <img src="assets/img/mk11-cover.jfif">
                                </div>
                                <div class="media-content mobil">
                                    <div class="game-information">
                                        <h1 class="title is-3">Mortal Kombat 11</h1>
                                        <p>Platform:Play Station 4</p>
                                        <br>
                                        <p>Quantity: 1</p>
                                    </div>
                                    <br>
                                    <h1>Price: 59.99 $</h1>
                                    <div class="order-history-button-container">
                                        <button class="order-history-button">Go to product page</button>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left image-left is-12-mobile">
                                    <img src="assets/img/mk11-cover.jfif">
                                </div>
                                <div class="media-content mobil">
                                    <div class="game-information">
                                        <h1 class="title is-3">Mortal Kombat 11</h1>
                                        <p>Platform:Play Station 4</p>
                                        <br>
                                        <p>Quantity: 1</p>
                                    </div>
                                    <br>
                                    <h1>Price: 59.99 $</h1>
                                    <div class="order-history-button-container">
                                        <button class="order-history-button">Go to product page</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
