{% extends 'layout/_base.html' %}

{% block bodyCSS %} grey-background {% endblock %}

{% block content %}
<div class="columns columns-menu-wrap">
        <div class="column column-menu is-1">Platforms</div>
        <div class="column column-menu is-1">Publishers</div>
</div>

<div class="category-container">
    <div class="columns xbox-container is-mobile is-multiline">
        <div class="column is-3-desktop is-12-mobile">
            <a id="img-xbox" href="products.html" class="category-link">
                <span class="category-icon">
                    <img class="img-xbox" src="assets/img/xbox-white-logo.png" alt="">
                </span><br>
                <span class="category-title">XBOX</span>
            </a>
        </div>
        <div class="column is-3-desktop is-12-mobile">
            <a id="img-playstation" href="products.html" class="category-link">
                <span class="category-icon">
                    <img class="img-playstation" src="assets/img/playstation-white-logo.png" alt="">
                </span><br>
                <span class="category-title">Play Station</span>
            </a>
        </div>
        <div class="column is-3-desktop is-12-mobile">
            <a id="img-windows" href="products.html" class="category-link">
                <span class="category-icon">
                    <img class="img-windows" src="assets/img/windows-white-logo.png" alt="">
                </span><br>
                <span class="category-title">Windows</span>
            </a>
        </div>
        <div class="column is-3-desktop is-12-mobile ">
            <a id="img-nintendo" href="products.html" class="category-link">
                <span class="category-icon">
                    <img  src="assets/img/nintendo-white-logo.png" alt="">
                </span><br>
                <span class="category-title">Nintendo</span>
            </a>
        </div>
        <div class="column is-3-desktop is-12-mobile ">
            <a id="img-ios" href="products.html" class="category-link">
                <span class="category-icon">
                    <img  src="assets/img/ios-white-logo.png" alt="">
                </span><br>
                <span class="category-title">iOS</span>
            </a>
        </div>
        <div class="column is-3-desktop is-12-mobile ">
            <a id="img-android" href="products.html" class="category-link">
                <span class="category-icon">
                    <img  src="assets/img/android-white-logo.png" alt="">
                </span><br>
                <span class="category-title">Android</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
