{% extends 'layout/_base.html' %}

{% block content %}
{% include 'components/general/header.html' %}
<div class="container">
    <div class="product-list">
        <div class="columns">
            <div class="column">
                <p> FILTER, SORT </p>
            </div>
            <div class="column ">
                <div class="my-cart">
                    <div class="image">
                        <img src="assets/img/myCart1.png" alt="">
                    </div>
                    title
                    <h4>
                    </h4>
                </div>
            </div>
            <div class="column ">
                <div class="my-cart">
                    <div class="image">
                        <img src="assets/img/myCart2.png" alt="">
                    </div>
                    <h4>
                        title
                    </h4>
                </div>
            </div>
            <div class="column ">
                <div class="my-cart">
                    <div class="image">
                        <img src="assets/img/myCart3.png" alt="">
                    </div>
                    <p> Hello </p>
                </div>
            </div>
        </div>

<!--        second row -->

        <div class="columns">
            <div class="column">
                <p> FILTER, SORT </p>
            </div>
            <div class="column ">
                <div class="my-cart">
                    <div class="image">
                        <img src="assets/img/myCart5.png" alt="">
                    </div>
                    title
                    <h4>
                    </h4>
                </div>
            </div>
            <div class="column ">
                <div class="my-cart">
                    <div class="image">
                        <img src="assets/img/myCart3.png" alt="">
                    </div>
                    <h4>
                        title
                    </h4>
                </div>
            </div>
            <div class="column ">
                <div class="my-cart">
                    <div class="image">
                        <img src="assets/img/myCart1.png" alt="">
                    </div>
                    <p> Hello </p>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}
