{% extends 'layout/_base.html' %}

{% block content %}
{% include 'components/general/header.html' %}
<div class="container">
    <div class="product-list">
        <div class="columns">
            <div class="column is-6-mobile">
                <p> FILTER, SORT </p>
            </div>
            <div class="column is-6-mobile">
                <div class="my-cart">
                    <div class="image">
                        <img src="assets/img/My-Cart/first-version/1.png" alt="">
                    </div>
                    Title
                    <h4>
                    </h4>
                </div>
            </div>
            <div class="column is-6-mobile">
                <div class="my-cart">
                    <div class="image">
                        <img src="assets/img/My-Cart/first-version/2.png" alt="">
                    </div>
                    <h4>
                        Title
                    </h4>
                </div>
            </div>
            <div class="column is-6-mobile">
                <div class="my-cart">
                    <div class="image">
                        <img src="assets/img/My-Cart/first-version/3.png" alt="">
                    </div>
                    <p> Title </p>
                </div>
            </div>
        </div>

<!--        second row -->

        <div class="columns ">
            <div class="column is-6-mobile ">
                <p> FILTER, SORT </p>
            </div>
            <div class="column is-6-mobile">
                <div class="my-cart">
                    <div class="image">
                        <img src="assets/img/My-Cart/first-version/4.png" alt="">
                    </div>
                    Title
                    <h4>
                    </h4>
                </div>
            </div>
            <div class="column is-6-mobile">
                <div class="my-cart">
                    <div class="image">
                        <img src="assets/img/My-Cart/first-version/5.png" alt="">
                    </div>
                    <h4>
                        Title
                    </h4>
                </div>
            </div>
            <div class="column is-6-mobile">
                <div class="my-cart">
                    <div class="image">
                        <img src="assets/img/My-Cart/first-version/6.png" alt="">
                    </div>
                    <p> Hello </p>
                </div>
            </div>
    </div>

        <!--        Third row -->

        <div class="columns ">
            <div class="column is-6-mobile ">
                <p> FILTER, SORT </p>
            </div>
            <div class="column is-6-mobile">
                <div class="my-cart">
                    <div class="image">
                        <img src="assets/img/My-Cart/first-version/7.png" alt="">
                    </div>
                    Title
                    <h4>
                    </h4>
                </div>
            </div>
            <div class="column is-6-mobile">
                <div class="my-cart">
                    <div class="image">
                        <img src="assets/img/My-Cart/first-version/8.png" alt="">
                    </div>
                    <h4>
                        Title
                    </h4>
                </div>
            </div>
            <div class="column is-6-mobile">
                <div class="my-cart">
                    <div class="image">
                        <img src="assets/img/My-Cart/first-version/9.png" alt="">
                    </div>
                    <p> Hello </p>
                </div>
            </div>
        </div>
</div>
{% endblock %}
