{% extends 'layout/_min.html' %}
{% block content %}


<div class="product-details-container">
    {% include 'components/general/header.html' %}

    <div class="columns">

        <div class="column product-panel">
            <div class="product-panel-wrapper">

                <div class="product-view">
                    <div class="review-panel">

                        <div class="main-rating">
                            <h3>PRODUCT RATING</h3>
                            <div class="stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half"></i>
                            </div>
                            <span>Rated <small>4,5/5</small> out of <small>29</small> reviews</span>
                            <span class="add-review"><i class="fa fa-plus"></i>Add review</span>
                        </div>

                        <div class="customer-rating">
                            <div class="content">
                                <div class="customer-rating-header">
                                    <span class="customer-name">Jehona Konushefci</span>
                                    <small>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </small>
                                </div>
                                <p class="rating-content">
                                    The all new Custom Character Variations give you unprecedented control to customize the
                                    fighters and make them your own
                                </p>
                            </div>

                            <div class="content">
                                <div class="customer-rating-header">
                                    <span class="customer-name">Jehona Konushefci</span>
                                    <small>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </small>
                                </div>
                                <p class="rating-content">
                                    The all new Custom Character Variations give you unprecedented control to customize the
                                    fighters and make them your own
                                </p>
                            </div>

                            <div class="content">
                                <div class="customer-rating-header">
                                    <span class="customer-name">Jehona Konushefci</span>
                                    <small>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </small>
                                </div>
                                <p class="rating-content">
                                    The all new Custom Character Variations give you unprecedented control to customize the
                                    fighters and make them your own
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="panel-actions">

                    <div class="left-actions">
                        <a href="product-details.html"><i class='far fa-image'></i></a>
                        <a href="product-review.html"><i class="fa fa-star-o"></i></a>
                    </div>

                    <div class="right-actions">
                        <i class='far fa-heart'></i>
                    </div>

                </div>

            </div>
        </div>

        <div class="column is-three-fifths">
            <div class="product-info-panel">

                <div class="inner-panel">

                    <div class="product-info-header">
                        <h2>Category</h2>
                    </div>

                    <div class="product-info-body">
                        <div class="product-name-instock">
                            <h3 class="product-name">MORTAL KOMBAT 11</h3>
                            <h5>In Stock</h5>
                        </div>
                        <p class="product-description">
                            The all new Custom Character Variations give you unprecedented control to customize the
                            fighters and make them your own
                            The new graphics engine showcasing every skull-shattering, eye-popping moment, brings you so
                            close to the fight you can feel it
                            And featuring a roster of new and returning Klassic Fighters, Mortal Kombat's best in class
                            cinematic story mode continues the epic saga over 25 years in the making
                        </p>

                        <div class="product-controls">

                            <div class="product-price">
                                <div class="heading">
                                    Price
                                </div>

                                <div class="value">
                                    $65.25
                                </div>
                            </div>

                            <div class="product-quantity">
                                <div class="heading">
                                    Quantity
                                </div>

                                <div class="control">
                                    <input class="input is-rounded" type="number" value="1">
                                </div>
                            </div>

                            <div class="add-to-cart">
                                <div class="heading is-vhidden">Add to cart</div>
                                <button class="button">Add to cart</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>

{% endblock %}
