{% extends 'layout/_base.html' %}

{% block content %}

<div class="columns">
    <div class="column is-2">
        Filter Menu here
    </div>
    <div class="column is-10">
        {% include 'components/products-list/menu.html' %}
        <div class="product-list">
            <div class="columns is-multiline is-mobile is-tablet is-desktop">
                <div class="column is-4-desktop is-6-tablet is-6-mobile ">
                    <div class="my-cart">
                        <div class="image">
                            <img src="assets/img/My-Cart/first-version/1.png" alt="">
                        </div>
                        <h4>Assasins Creed</h4>
                    </div>
                </div>
                <div class="column is-4-desktop is-6-tablet is-6-mobile ">
                    <div class="my-cart">
                        <div class="image">
                            <img src="assets/img/My-Cart/first-version/2.png" alt="">
                        </div>
                        <h4>The Phantom Pain</h4>
                    </div>
                </div>
                <div class="column is-4-desktop is-6-tablet is-6-mobile ">
                    <div class="my-cart">
                        <div class="image">
                            <img src="assets/img/My-Cart/first-version/3.png" alt="">
                        </div>
                        <h4> Fifa 20 </h4>
                    </div>
                </div>
                <div class="column is-4-desktop is-6-tablet is-6-mobile ">
                    <div class="my-cart">
                        <div class="image">
                            <img src="assets/img/My-Cart/first-version/4.png" alt="">
                        </div>
                        <h4> Fortnite </h4>
                    </div>
                </div>
                <div class="column is-4-desktop is-6-tablet is-6-mobile ">
                    <div class="my-cart">
                        <div class="image">
                            <img src="assets/img/My-Cart/first-version/5.png" alt="">
                        </div>
                        <h4> New Games </h4>
                    </div>
                </div>
                <div class="column is-4-desktop is-6-tablet is-6-mobile ">
                    <div class="my-cart">
                        <div class="image">
                            <img src="assets/img/My-Cart/first-version/6.png" alt="">
                        </div>
                        <h4> Onrush</h4>
                    </div>
                </div>
                <div class="column is-4-desktop is-6-tablet is-6-mobile ">
                    <div class="my-cart">
                        <div class="image">
                            <img src="assets/img/My-Cart/first-version/7.png" alt="">
                        </div>
                        <h4> Laser League </h4>
                    </div>
                </div>
                <div class="column is-4-desktop is-6-tablet is-6-mobile ">
                    <div class="my-cart">
                        <div class="image">
                            <img src="{{imageSRC}}My-Cart/first-version/8.png" alt="">
                        </div>
                        <h4> Call of Duty </h4>
                    </div>
                </div>
                <div class="column is-4-desktop is-6-tablet is-6-mobile ">
                    <div class="my-cart">
                        <div class="image">
                            <img src="{{imageSRC}}My-Cart/first-version/9.png" alt="">
                        </div>
                        <h4> New Game </h4>
                    </div>
                </div>
            </div>
        </div>

        <!-- PAGINATION -->
        <div class="block pg">
            <div class="pagination">
                <a href="" class="pagination-previous">Previous </a>
                <a href="" class="pagination-next">Next Page</a>
                <ul class="pagination-list">
                    <li>
                        <a href="" class="pagination-link is-current ">1</a>
                    </li>
                    <li>
                        <a href="" class="pagination-link">2</a>
                    </li>
                    <li>
                        <a href="" class="pagination-link">3</a>
                    </li>
                    <li>
                        <a href="" class="pagination-link">4</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}
