{% extends 'layout/_base.html' %}

{% block bodyCSS %} grey-background {% endblock %}

{% block content %}
<div class="columns columns-menu-wrap">
    <div class="column column-menu is-1">Platforms</div>
    <div class="column column-menu is-1">Publishers</div>
</div>

<div class="publisher-container">
    <div class="columns is-3-desktop is-mobile is-multiline">
        <div class="column is-6-mobile">
            <a id="img-xbox" href="login.html" class="publisher-link">
                <span class="publisher-icon">
                    <img class="img-xbox" src="assets/img/bandai.png" alt="">
                </span><br>
                <span class="publisher-title">BANDAI</span>
            </a>
        </div>
        <div class="column is-3-desktop is-6-mobile">
            <a id="img-playstation" href="login.html" class="publisher-link">
                <span class="publisher-icon">
                    <img class="img-playstation" src="assets/img/capcom.png" alt="">
                </span><br>
                <span class="publisher-title">CAPCOM</span>
            </a>
        </div>
        <div class="column is-3-desktop is-6-mobile">
            <a id="img-windows" href="login.html" class="publisher-link">
                <span class="publisher-icon">
                    <img class="img-windows" src="assets/img/electronicarts.jpg" alt="">
                </span><br>
                <span class="publisher-title">ELECTRONIC ARTS</span>
            </a>
        </div>
        <div class="column is-3-desktop is-6-mobile ">
            <a id="img-enix" href="login.html" class="publisher-link">
                <span class="publisher-icon">
                    <img  src="assets/img/enix1.png" alt="">
                </span><br>
                <span class="publisher-title">ENIX</span>
            </a>
        </div>
        <div class="column is-3-desktop is-6-mobile ">
            <a id="img-nintendo" href="login.html" class="publisher-link">
                <span class="publisher-icon">
                    <img  src="assets/img/nintendo.jpg" alt="">
                </span><br>
                <span class="publisher-title">NINTENDO</span>
            </a>
        </div>
        <div class="column is-3-desktop is-6-mobile ">
            <a id="img-nintendo" href="login.html" class="publisher-link">
                <span class="publisher-icon">
                    <img  src="assets/img/enix.png" alt="">
                </span><br>
                <span class="publisher-title">ENIX</span>
            </a>
        </div>
        <div class="column is-3-desktop is-6-mobile ">
            <a id="img-nintendo" href="login.html" class="publisher-link">
                <span class="publisher-icon">
                    <img  src="assets/img/enix.png" alt="">
                </span><br>
                <span class="publisher-title">ENIX</span>
            </a>
        </div>
        <div class="column is-3-desktop is-6-mobile ">
            <a id="img-nintendo" href="login.html" class="publisher-link">
                <span class="publisher-icon">
                    <img  src="assets/img/enix.png" alt="">
                </span><br>
                <span class="publisher-title">ENIX</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
