{% extends 'layout/_min.html' %}

{% block bodyCSS %} page-unscrollable {% endblock %}

{% block content %}
<div class="columns is-gapless login-container" >
    <div class="column is-three-fifths is-hidden-mobile">
        {% include 'components/auth/login-intro.html' %}
    </div>
    <div class="column login-column" style="background-color: red">
        <div class="auth-content login-screen">
            <div class="auth-form-header">
                <img src="assets/img/ucx-logo-desktop.png" alt="">
                <h4>You've been successfully signed up to UCXGaming.</h4>
            </div>
            <div>
                <button class="auth-button">Add additional infos</button>
            </div>
            <div>
                <button class="auth-button">Go to Home Page</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

