{% extends 'layout/_base.html' %}

{% block content %}

<div class="container">
    <div class="checkout-steps">
        <div class="step-buttons no-hover">
            <a href="cart-preview.html" class="button is-rounded is-hovered">1</a>
            <a href="checkout.html" class="button is-rounded is-hovered">2</a>
            <a href="#" class="button is-rounded is-hovered">3</a>
            <a href="#" class="button is-rounded is-hovered">4</a>
        </div>
    </div>

    <div class="sub-info">
        <div class="columns is-mobile">
            <div class="column is-6-desktop is-6-mobile ">
                <h1>VERIFICATION</h1>
            </div>
            <div class="column is-6-desktop is-6-mobile has-text-right">
                <h1>Order-696969</h1>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="columns is-mobile">
            <div class="column is-4 is-12-mobile">
                <div class="shipping-total">
                    <i class="fa fa-credit-card"></i>
                    <h3>ORDER TOTAL</h3>
                    <h2>342,20$</h2>
                    <h3>3 Products Ordered</h3>
                </div>
            </div>

            <div class="column is-8 is-12-mobile">
                    <div class="columns is-mobile shipping-details">
                        <div class="order column is-3">
                            <hr>
                            <br>
                            <div class="item-description">
                                <h3>SHIPPING</h3>
                                <h5>Delivery</h5>
                            </div>
                            <div class="column item-quantity is-3">
                                <h3>QTY</h3>
                                <h4>1</h4>
                            </div>
                            <div class="column item-price is-3">
                                <h3>FREE</h3>
                            </div>
                        </div>

                        <div class="order column is-3">
                            <hr>
                            <br>
                            <div class="item-description">
                                <h3>SHIPPING</h3>
                                <h5>Delivery</h5>
                            </div>
                            <div class="column item-quantity is-3">
                                <h3>QTY</h3>
                                <h4>1</h4>
                            </div>
                            <div class="column item-price is-3">
                                <h3>FREE</h3>
                            </div>
                        </div>

                        <div class="order column is-3">
                            <hr>
                            <br>
                            <div class="item-description">
                                <h3>SHIPPING</h3>
                                <h5>Delivery</h5>
                            </div>
                            <div class="column item-quantity is-3">
                                <h3>QTY</h3>
                                <h4>1</h4>
                            </div>
                            <div class="column item-price is-3">
                                <h3>FREE</h3>
                            </div>
                        </div>

                        <div class="order column is-3">
                            <hr>
                            <br>
                            <div class="item-description">
                                <h3>SHIPPING</h3>
                                <h5>Delivery</h5>
                            </div>
                            <div class="column item-quantity is-3">
                                <h3>QTY</h3>
                                <h4>1</h4>
                            </div>
                            <div class="column item-price is-3">
                                <h3>FREE</h3>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="columns back-next-buttons">
        <div class="column is-6-desktop is-6-mobile left-button">
            <a href="products-list.html" class="button ">Cancel</a>
        </div>
        <div class="column is-6-desktop is-6-mobile right-button">
            <a href="#" class="button ">Next</a>
        </div>
    </div>
</div>

{% endblock %}
