{% extends 'layout/_base.html' %}

{% block content %}


<div class="box main-box">
    <div class="box inner-box">
        <div class="columns is-mobile is-multiline">
            <div class="column is-2-tablet is-12-mobile">
                <img src="assets/img/mk11-cover.jfif" class="wish-list-featured-image" height="216px" width="161px">
            </div>
            <div class="column">
                <div class="game-information">
                    <h1 class="title is-3">Mortal Kombat 11</h1>
                    <p>Platforms: Xbox One, Play Station 4, PC</p>
                </div>
                <br>
                <div class="wishlist-button-container">
                    <h1>Price: 59.99 $</h1>
                    <button class="wishlist-button">Add to cart</button>
                    <button class="wishlist-button">Buy now</button>
                    <button class="is-hidden-tablet wishlist-button">Delete</button>
                </div>
            </div>
            <div class="column is-1 has-text-right">
                <button class="remove-button is-hidden-mobile"><i class="fas fa-times"></i></button>
            </div>
        </div>
    </div>

    <div class="box inner-box">
        <div class="media">
            <div class="media-left">
                <img src="assets/img/bf4-cover.jfif" height="216px" width="161px">
            </div>
            <div class="media-content">
                <div class="game-information">
                    <h1 class="title is-3">Battlefield 4</h1>
                    <p>Platforms: Xbox One, XBox 360, Play Station 4, Play Station 3, PC</p>
                </div>
                <br>
                <div class="wishlist-button-container">
                    <h1>Price: 19.99 $</h1>
                    <button class="wishlist-button">Add to cart</button>
                    <button class="wishlist-button">Buy now</button>
                </div>
            </div>
            <div class="media-right">
                <button class="remove-button is-hidden-mobile"><i class="fas fa-times"></i></button>
            </div>
        </div>
    </div>

    <div class="box inner-box">
        <div class="media">
            <div class="media-left">
                <img src="assets/img/minecraft-cover.jfif" height="216px" width="161px">
            </div>
            <div class="media-content">
                <div class="game-information">
                    <h1 class="title is-3">Minecraft</h1>
                    <p>Platforms: Xbox One, XBox 360, Play Station 4, Play Station 3, PC, iOS, Android</p>
                </div>
                <br>
                <div class="wishlist-button-container">
                    <h1>Price: 19.99 $</h1>
                    <button class="wishlist-button">Add to cart</button>
                    <button class="wishlist-button">Buy now</button>
                </div>
            </div>
            <div class="media-right">
                <button class="remove-button is-hidden-mobile"><i class="fas fa-times"></i></button>
            </div>
        </div>
    </div>


    <div class="box inner-box">
        <div class="media">
            <div class="media-left">
                <img src="assets/img/mkx-cover.jfif" height="216px" width="161px">
            </div>
            <br>
            <div class="media-content">
                <div class="game-information">
                    <h1 class="title is-3">Mortal Kombat X</h1>
                    <p>Platforms: Xbox One, Play Station 4, PC</p>
                </div>
                <br>
                <div class="wishlist-button-container">
                    <h1>Price: 19.99 $</h1>
                    <button class="wishlist-button">Add to cart</button>
                    <button class="wishlist-button">Buy now</button>
                </div>
            </div>
            <div class="media-right">
                <button class="remove-button is-hidden-mobile"><i class="fas fa-times"></i></button>
            </div>
        </div>
    </div>

</div>


{% endblock %}
