.checkout-title {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding-left:25px;
  padding-right:25px;
  h2 {
    color:map-get($ucx-colors,light-orange);
  }
  h3 {
    color:map-get($ucx-colors,light-orange);
  }
}


label.checkout-label {

  color:map-get($ucx-colors,light-orange);
}

.nav-buttons-shipping {

  background: transparent;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid map-get($ucx-colors,light-orange);
  border-radius: 5px;
  margin: 0px;
  font-size: 14px;
  color: map-get($ucx-colors,light-orange);


  &:hover {
    background: map-get($ucx-colors,light-orange);
    color: white;
    border-color:transparent !important;
  }
}


.shipping-form-container {
padding:1vh;
}

.shipping-image{
  height:40vh;
  width:auto;
}

#shipping-select-country {
  min-width:300px;
}

.shipping-address-form {


  input {

   min-width:300px;
  }
}

