.checkout-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding-left:25px;
  padding-right:25px;
  h2 {
    color:map-get($ucx-colors,light-orange);
  }
  h3 {
    color:map-get($ucx-colors,light-orange);
  }
}


label.checkout-label {

  color:map-get($ucx-colors,light-orange);
}

.nav-buttons-shipping {

  background: transparent;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid map-get($ucx-colors,light-orange);
  border-radius: 5px;
  margin: 0px;
  font-size: 14px;
  color: map-get($ucx-colors,light-orange);


  &:hover {
    background: map-get($ucx-colors,light-orange);
    color: white;
    border-color:transparent !important;
  }
}

.shipping-form-container {
  margin-left: 30px;
  padding:1vh;
}

.shipping-image{
  height:40vh;
  width:auto;
}

#shipping-select-country {
  min-width:300px;
}

.shipping-address-form {


  input {

    min-width:100px;
  }

  #shipping-select-country{
    min-width:100px;
    max-width:100% ;
  }
}

.account-header{

  color: #FF5A09;
  background-color: #3f4954;
  padding: 40px;
  border: 2px solid #FF5A09;
  border-radius: 10px;
}

.shipping-nav-buttons {
  a {margin-left:10px;
    margin-right:10px;}

}

#existing-address-form {
  select {width: 100%;}

}

#use-my-address {
  margin-left:0;
  margin-right:0;
  background:yellow;

}
.shipping-wrapper{
  padding: 40px;
  border: 1px solid map_get($ucx-colors,deep-orange);
  border-radius: 5px;
}
