body{
  background: #000;
}
.main-box {
  border: 1px solid map_get($ucx-colors,deep-orange);
  background: map_get($ucx-colors,dark-gray);
  margin-top: 30px;
  @include mobile{
    margin: 10px 10px;
  }
  .inner-box{
    background: map_get($ucx-colors,dark-gray);
    border: 1px solid map_get($ucx-colors,deep-orange);
    color: map_get($ucx-colors,deep-orange);
  }
  @include desktop{
    .wishlist-item-information{
      margin-left: 0px;
    }
    .wishlist-image-container{
      width: auto;
    }
  }


  h1 {
    font-size: 25px;
    color: map_get($ucx-colors,deep-orange);
  }

  @include mobile{
    img{
      width: 600px;
    }
  }
  .wishlist-button-container{
    .wishlist-button {
      line-height: 0;
      font-size: 0.8rem;
      font-weight: 600;
      margin-left: 0px;
      margin-top: 20px;
      margin-bottom: 0;
      outline: none;
      border-color: map-get($ucx-colors, deep-orange);
      background-color: transparent;
      color: map-get($ucx-colors, light-gray);
      transition: all 0.5s;
      padding: 22px 40px;
      border-radius: 500px;
      cursor: pointer;

      &:hover {
        background-color: map-get($ucx-colors, deep-orange);
      }
    }
    @include mobile{
      .wishlist-button{
        width: 100%;
      }
    }

  }
}
.wishlist-button-container{
  align-items: baseline;
}
.remove-button{
  //float: right;
  line-height: 0;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0;
  outline: none;
  border-color: map-get($ucx-colors, deep-orange);
  background-color: transparent;
  color: map-get($ucx-colors, light-gray);
  transition: all 0.5s;
  padding: 7px 10px;
  border-radius: 500px;
  cursor: pointer;
  &:hover{
    background-color: map-get($ucx-colors, deep-orange);
  }

}
#icon-container{
  width: 19%
}
