<div class="header uses-flex">
    <!-- HEADER TOP STARTS HERE -->
    <div class="header-top uses-flex between-space">
        <a href="home.html">
            <div class="image-container">
<!--                <img src="{{imageSRC}}logo-ucx-wix.png" alt="logo" class="header-logo">-->
                <img src="{{imageSRC}}ucx-logo-desktop.png" alt="logo" class="header-logo is-hidden-mobile">
                <img src="{{imageSRC}}ucx-logo-mobile.png" alt="logo" class="header-logo is-hidden-desktop">
            </div>
        </a>

        <div class="columns right-buttons is-hidden-mobile is-hidden-tablet-only">

            <!--      CART ICON       -->
            <div class="column is-6 dropdown dropdown-cart is-right is-large">
                <div class="dropdown-trigger">
                    <button class="button cart-button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span><i class="fab fa-opencart"></i></span>
                        <span class="is-medium cart-nr">0</span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu-2" role="menu">
                    <div class="dropdown-content">
                        <div class="columns dropdown-item ">
                            <div class="column is-4">
                                <figure class="image is-64x64">
                                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                                </figure>
                            </div>
                            <div class="column is-4 item-desc">
                                <a href="#"><h6><strong>Mortal Kombat Xl</strong></h6></a>
                                <h7>XBOX & PS4</h7>
                            </div>
                            <div class="column is-4 has-text-right">
                                <a href="#"><i class="fas fa-times"></i></a>
                            </div>
                        </div>
                        <hr class="dropdown-divider">
                        <div class="columns dropdown-item ">
                            <div class="column is-4">
                                <figure class="image is-64x64">
                                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                                </figure>
                            </div>
                            <div class="column is-4 item-desc">
                                <a href="#"><h6><strong>Mortal Kombat Xl</strong></h6></a>
                                <h7>XBOX & PS4</h7>
                            </div>
                            <div class="column is-4 has-text-right">
                                <a href="#"><i class="fas fa-times"></i></a>
                            </div>
                        </div>
                        <hr class="dropdown-divider">
                        <div class="dropdown-item proceed-checkout">
                            <a href="cart-preview.html" class="button is-dark is-fullwidth">Proceed to checkout</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="column is-6 dropdown dropdown-profile is-right is-large">
            <div class="dropdown-trigger">
                <button class="button user-button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span><i class="fas fa-user-alt "></i></span>
                    <span class="icon is-medium">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <a href="#" class="dropdown-item sign-up-button">Sign Up</a>
                    <a href="#" class="dropdown-item sign-up-button">Login</a>
                </div>
            </div>
        </div>
    </div>





        <div class="hamburger-menu-container is-hidden-desktop ">
            <button>
                <i class="fa"></i>
            </button>
        </div>
    </div>
<!--------------------------------HEADER 2---------------------------------->
    <div class="header-bottom uses-flex">
        <nav class="navbar navbar-container" role="navigation" aria-label="main navigation">
            <a href="index.html" class="navbar-item">Home</a>
            <a href="" class="navbar-item">Accesories</a>
            <a href="" class="navbar-item">News</a>
<!------------------------------------PUBLISHER DROPDOWN----------------------------------------->
            <div class="navbar-item has-dropdown is-hoverable">
                <a href="" class="navbar-link" style="background: none">Publishers</a>

                <div class="navbar-dropdown publisher-dropdown" style="margin-left: -20px">
                    <div class="columns navbar-item is-mobile is-multiline publisher-column-container">
                        <div class="column is-4-desktop is-4-mobile dropdown-publisher-container">
                            <img src="assets/img/activision-dd.png"  alt="">
                        </div>
                        <div class="column is-4-desktop is-4-mobile dropdown-publisher-container">
                            <img src="assets/img/sega-dd.png" alt="">
                        </div>
                        <div class="column is-4-desktop is-4-mobile dropdown-publisher-container">
                            <img src="assets/img/ea-dd.png" alt="">
                        </div>
                        <div class="column is-4-desktop is-4-mobile dropdown-publisher-container">
                            <img src="assets/img/rockstar-dd.png" alt="">
                        </div>
                        <div class="column is-4-desktop is-4-mobile dropdown-publisher-container">
                            <img src="assets/img/ubisoft-dd.png" alt="">
                        </div>
                        <div class="column is-4-desktop is-4-mobile dropdown-publisher-container">
                            <img src="assets/img/netherrealm-dd.png" alt="">
                        </div>
                    </div>
                    <div class="navbar-item">
                        <a href="#" class="see-more-publishers">See more..</a>
                    </div>
                </div>
            </div>
<!-------------------------------MORE DROPDOWN--------------------------------->
            <div class="navbar-item has-dropdown is-hoverable more-navbar" >

                <a class="navbar-link" style="background: none">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        About
                    </a>
                    <a class="navbar-item">
                        Jobs
                    </a>
                    <a class="navbar-item">
                        Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
            <a href="" class="navbar-item is-hidden-tablet">Sign up</a>
            <a href="" class="navbar-item is-hidden-tablet">Log in</a>
        </nav>
    </div>
</div>
