<!--<div class="header">
    <div class="image-container">
        <img class="header-logo" src="{{imageSRC}}ucx-white-logo.svg" alt="logo">
    </div>
    <div>
        <a href="" class="log-out-button">Log Out</a>
    </div>
</div>-->

<!--<div class="header">
    <div class="image-container"><img src="{{imageSRC}}ucx-white-logo.svg" alt="logo" class="header-logo"></div>
</div>-->

<div class="header2 container is-fluid">
    <div class="header-left-side">

        <div class="image-logo">
            <img src="{{imageSRC}}ucx-white-logo.svg" alt="">
        </div>

    </div>

    <div class="header-middle-side">
        <div class="menus">
            <nav>
                <a href="">
                    <p>test</p>
                </a>

                <a href="">
                    <p>test</p>
                </a>

                <a href="">
                    <p>test</p>
                </a>

                <a href="">
                    <p>test</p>
                </a>

                <a href="">
                    <p>test</p>
                </a>
            </nav>
        </div>
    </div>

    <div class="header-right-side">
        <div class="auth-buttons">
            <button class="log-out-button">
                Sign Up
            </button>
            <button class="log-out-button">
                Log in
            </button>
        </div>
    </div>
</div>