.change-account-settings{
  padding-top: 20px;
}

.cancel-button-block {
  position: relative;

  .cancel-button{
    display: block;
    position: absolute;
    bottom: 20px;
  }
}

/*
.final-cancel {
  padding-left: 20px;
}*/
