.product-list {
  margin-top: 60px;

  .my-cart {
    background: #ffffff;

    .image {
      border: 1px solid grey;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
      width: 365px;
      height: 205px;

      &:hover {
        transform: scale(1.05);
        transition-duration: 0.7s;
      }
    }

    h4 {
      padding-top: 10px;
    }
  }
}








