.forgot-password-screen {
  max-width: 710px;
  min-height: 430px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  border-radius: 4px;
}

.forgot-password-wrap {
  width: 100%;
  height: 100vh;
  background: url(asset(images, 'signin_signup_bg.jpg')) center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-password-form-footer {
  text-align: center;
  margin-top: 50px;
}
