.log-out-button {
  background: transparent;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 14px;
  color: black;
  cursor: pointer;
  &:hover {
    background: black;
    color: white;
  }
}

.header {
  flex-direction: column;
  background: rgb(0,0,0);
  //background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,82,8,1) 60%, rgba(190,30,2,1) 76%);
  background: linear-gradient(45deg, rgb(45, 11, 30) 0%, rgb(45, 11, 30) 49%,rgb(78, 19, 25) 49%, rgb(78, 19, 25) 67%,rgb(111, 27, 19) 67%, rgb(111, 27, 19) 76%,rgb(143, 36, 14) 76%, rgb(143, 36, 14) 81%,rgb(176, 44, 8) 81%, rgb(176, 44, 8) 82%,rgb(209, 52, 3) 82%, rgb(209, 52, 3) 100%);
  .header-top {
    height: 60px;
    align-items: center;

    .image-container {
      .header-logo {
        height: 100%;
        width: 250px;
        margin-left: 6px;
      }

    }

    .header-middle-side {
      padding: 20px;
    }

    .header-right-side {
      padding-right: 10px;
    }

  }

  .header-bottom {
    justify-content: center;
    nav {
      width: 100%;
      justify-content: center;
      color: black;
      @include desktop{
        background: transparent ;
      }
      @include mobile{
        margin-top: -20px;
      }
      .navbar-dropdown a{
        color: black;
      }
      a {
        color: pink;
        @include mobile{
          color: black;
        }
        padding-right: 80px;
        border: 3px solid transparent;
        text-align: center;

        &:hover {
          background: none;
          border-bottom: 3px solid red;
        }
      }

      a.see-more-publishers{
        color: black;
        border: none;
      }
    }

    @include mobile {
      height: calc(100vh - 60px);
      display: none;
      position: absolute;
      width: 100%;
      top: 80px;

      a {
        display: block;
      }
    }
  }

  .hamburger-menu-container {
    margin-right: 15px;

    button {
      outline: none !important;
      cursor: pointer;
      font-size: 18px;
      background: none;
      border: none;
      color: #fff;

      i:before {
        content: "\f0c9";
      }
    }
  }

  &.active {
    .header-bottom {
      display: block;
    }

    .hamburger-menu-container i:before {
      content: "\f00d";
    }
  }

}

/* HELPER CLASSES BELOW: */

.uses-flex {
  display: flex;
}

.between-space {
  justify-content: space-between;
}


// PUBLISHER DROPDOWN SCSS============================
.publisher-dropdown{
  width: 368px;
  cursor: pointer;
  .publisher-column-container{
    @include mobile{
      margin: -20px;
    }
    .dropdown-publisher-container{
      width: 100px;
      height: 100px;
      border: 1px solid black;
      margin: 10px;
      padding: 0px;
      text-align: center;
      &:hover{
        background: map_get($ucx-colors,light-gray);
      }
      img{
        margin-top: 5px;
        height: 90px;
        width: 90px;
      }

    }
  }
}

.navbar-item img{
  text-align: center;
  max-height: 300px;
  max-width: 300px;
}


