.header {
  padding: 15px;
  text-align: center;
  background-color: map-get($ucx-colors,dark-gray);
  color: white;
  font-size: 20px;
  border: 1px solid black;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .header-logo {
    height: 100%;
    width: 100px;
  }
}

.log-out-button {
  background: transparent;
  padding: 5px 10px;
  border: 1px solid map-get($ucx-colors,light-orange);
  border-radius: 5px;
  margin: 0;
  font-size: 14px;
  color: map-get($ucx-colors,light-orange);

  &:hover {
    background: map-get($ucx-colors,light-orange);
    color: white;
  }
}
