/*.header {
  padding: 15px;
  text-align: center;
  background-color: map-get($ucx-colors, dark-gray);
  color: white;
  font-size: 20px;
  border: 1px solid black;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;

  .header-logo {
    ////height: 100%;
    //margin-top: -15px;
    ////height:   50px;
    ////width: 100px;
    //width: 50%;
    height: 110%;
    width: 200px;
  }
}*/

.log-out-button {
  background: transparent;
  padding: 5px 10px;
  border: 1px solid map-get($ucx-colors, light-orange);
  border-radius: 5px;
  margin: 0;
  font-size: 14px;
  color: map-get($ucx-colors, light-orange);

  &:hover {
    background: map-get($ucx-colors, light-orange);
    color: white;
  }
}

/*.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .header-left-side {
    display: flex;
    justify-content: space-between;

    .image-logo {
      height: 100%;
      width: 100px;
    }

  }

  .header-middle-side {
    display: flex;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

}*/

.header {
  flex-direction: column;
  .header-top {
    height: 80px;
    border-bottom: 2px solid green;
    align-items: center;

    .image-container {
      .header-logo {
        height: 100%;
        width: 250px;
      }

    }

    .header-middle-side {
      padding: 20px;
    }

    .header-right-side {
      padding-right: 10px;
    }

  }

}

/* HELPER CLASSES BELOW: */

.uses-flex {
  display: flex;
}

.between-space {
  justify-content: space-between;
}
