body{
  margin: auto 0;
  overflow: hidden;
}
.section{
  padding: 0;
}

.auth-intro{
  text-align: center;
  background-color: #118fe4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: white;
}

.auth-intro span{
  font-weight: 600;
  display: block;
}

.auth-intro h1{
  font-size: 68px;
  color: #fff;
  font-weight: 400;
}

.auth-content{
  width: 100%;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  background-color: #fff;
  float: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding: 0 60px;
}

.auth-form-header{
  text-align: center;
  margin-bottom: 50px;
}

.auth-form-header h4{
  margin-top: 30px;
  font-weight: 600;
  text-align: center;
  color: #6c757d;
  font-size: 1.5rem;
}

.auth-form-header span{
  font-size: 16px;
  color: #929ea8;
  text-align: center;
}

.auth-form-footer{
  text-align: center;
  margin-top: 50px;
}

.auth-button{
  display: block;
  font-size: 16px;
  background: map_get($ucx-colors, blue);
  width: 100%;
  padding: 10px 0;
  color: #fff;
  font-weight: 700;
  cursor:pointer;
  border: none;
  border-radius: 3px;

  &:hover{
    background: lighten(map_get($ucx-colors, blue),10%);
  }
}


