.login-container {
  .sign-in-button {
    display: block;
    font-size: 16px;
    background: map-get($ucx-colors, blue);
    width: 100%;
    padding: 5px 0;
    color: #fff;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      background: lighten(map-get($ucx-colors, blue), 10%);
    }
  }

  .login-form-header {
    text-align: center;
    margin-bottom: 50px;
    font-family: "Titillium Web", sans-serif;
  }

  .auth-intro img {
    width: 100%;
  }
}




