.sign-up-button{
  display: block;
  font-size: 16px;
  background: map_get($ucx-colors, blue);
  width: 100%;
  padding: 10px 0;
  color: #fff;
  font-weight: 700;
  cursor:pointer;

  &:hover{
    background: lighten(map_get($ucx-colors, blue),10%);
  }
}

.register-form-header{
  text-align: center;
  margin-bottom: 50px;
}

.register-form-footer{
  text-align: center;
  margin-top: 50px;
}