<div class="main-menu">
    <div class="columns is-multiline is-tablet is-mobile is-desktop ">
        <div class="my-menu column is-4-desktop is-12-mobile is-6-tablet">
            <a href="">
                <span> <i class="ucxicon ucxicon-console2"></i></span>
                <span> Games</span>
            </a>
        </div>
        <div class="my-menu column is-4-desktop is-12-mobile is-6-tablet">
            <a href="">
                <span> <i class="ucxicon ucxicon-console2"></i></span>
                <span> Consoles</span>
            </a>
        </div>
        <div class="my-menu column is-4-desktop is-12-mobile is-6-tablet">
            <a href="">
                <span> <i class="ucxicon ucxicon-console2"></i></span>
                <span> Accesories</span>
            </a>
        </div>
    </div>
</div>
