
<div class="filter">
    <div class="static-filter">
        <div class="field has-addons">
            <div class="control has-icons-left">
                <input class="input is-rounded" type="text" placeholder="Search anything!">
                <div class="icon is-small is-left">
                    <i class="fa fa-search"></i>
                </div>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropdown-trigger">
                <button class="button">
                    <span>Sort</span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-content is-rounded">
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="foobar">
                        Most popular
                    </label>
                    <hr class="dropdown-divider">
                    <label class="radio">
                        <input type="radio" name="foobar" checked>
                        Release Date
                    </label>
                    <hr class="dropdown-divider">
                    <label class="radio">
                        <input type="radio" name="foobar">
                        Alphabetical A to Z
                    </label>
                    <hr class="dropdown-divider">
                    <label class="radio">
                        <input type="radio" name="foobar">
                        Alphabetical Z to A
                    </label>
                </div>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropdown-trigger">
                <button class="button">
                    <span>Filter</span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-content is-rounded">
                <div class="control">
                    <p>Price</p>
                    <input class="slider is-fullwidth is-extended" step="1" min="0" max="100" value="50" type="range">
                </div>
            </div>
        </div>
    </div>
</div>
